dissertation_project/*
chat/build/*
chat/.idea/*
chat/.gradle/*
chat/build
chat/.idea
chat/.gradle
chat/out/*
chat/out
EboBOT/.gradle/*
EboBOT/build/*
EboBOT/.idea/*
EboBOT/build
EboBOT/.idea
EboBOT/.gradle
